#nav {
	margin: 0;
	padding: 0;
	list-style: none;
	bottom: 0px;
	position:absolute;
	width:100%;
}

.tab {
	box-sizing: border-box;
	float: left;
	width: 33.33%;
	/*zoom:1; *display:inline;*/
	background: blue;
    text-align: center;
	/*-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;*/
}

.tab.onlyTwoTabs {
    width: 50%;
}

.tab a {
    text-decoration: none;
	font-size: 14px;
	line-height: 40px;
	display: block;
	padding: 0 10px;
	outline: none;
    color: black;
}

.tab.active a{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    color: #FFF;
}