.page#Home{
    box-sizing: border-box;
}

#Home #appHeader {
    height: 100px;
    padding: 20px;
    font-size: 30px;
    margin: auto;
    text-align: center;
}
.btnBlock{
    position: relative;
	width: 400px;
	height: 300px;
    margin: 60px auto;
}

.homeBtn{
    border-radius: 15px;
    border: 1px solid black;
    height: 300px;
    position: absolute;
    width: 45%;
    height: 60%;
}

.homeBtn#GMapsLink {
    left: 0px;
}

.homeBtn#OdometerLink {
    right: 0px;
}

.homeBtn#GPSLink {
    width:100%;
    height:100%;
}