.page, .tabPage, #nav {
	display: none
}

html, body, #pagesContainer, .page, .tabPage {
    height:100%;
    font-family: "Arial", Helvetica, sans-serif;

}

body {
	margin: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 15px;
    background-image: url('../img/texture.jpg');
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(98%,#73b1e7)); 
    background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 98%); */
}

body.backgroundImage {
    background: url("../img/road1.jpg");
    background-size: cover;
    background-position: center;
}

#pagesContainer {
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f4f0), color-stop(52%,#e5eecc), color-stop(100%,#dcecb5)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, #f6f4f0 0%,#e5eecc 52%,#dcecb5 100%); /* Chrome10+,Safari5.1+ */
}

.page {
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

h1 {
    font-family: RobotoLight;
    font-size: 3.2em;
}

h2 {
    font-family: RobotoLight;
    font-size: 2.7em;
}

h3{
    font-family: RobotoLight;
    font-size: 1.6em;
}

h4{
    font-family: RobotoLight;
    font-size: 1.4em;
}

h5{
    font-family: RobotoLight;
    font-size: 1.1em;
}

input,label{
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    display: block;
    margin: 5px auto;
    padding: 5px; 
}

input {
    margin-bottom: 15px;
}

#or {
    margin: 40px auto;
}

#line {
    border-top: 1px solid black;
    margin: 0px 5px;
    width: 80px;
    position: relative;
    bottom: 2px;
    display: inline-block;
}

button {
    width: 120px;
    height: 40px;
    background: #8A9BE1;
    color: #FFF;
    font-size: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #8A9BF1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.endConfirmation {
    height: 0px;
    overflow: hidden;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular-webfont.ttf');/* relative path from the css file */
}

@font-face {
  font-family: "RobotoMedium";
  src: url('../fonts/Roboto-Medium-webfont.ttf');/* relative path from the css file */
}

@font-face {
  font-family: "RobotoLight";
  src: url('../fonts/Roboto-Light-webfont.ttf');/* relative path from the css file */
}

.logo {
    text-align: left;
    font-size: 30px;
    float: left;
    color: #175407;
    text-shadow: 0 -1px 0 #175407;
}

